<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170196086-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-170196086-1', { 'anonymize_ip': true });
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
    {{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>
      {{ $title }}
    </title>
  </head>
  <body>
    <header>
      <h2>Ingegneria elettronica polimi</h2>
      <aside><em>&#127470;&#127481; Raccolta di materiali privi di copyright o ridistribuibili utili
        per studiare Ingegneria Elettronica al Politecnico di Milano
      </em></aside>
      <aside><em>&#127468;&#127463; Collection of copyright free or redistributable materials, useful
        for studying Electronics Engineering at Politecnico di Milano
      </em></aside>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <!-- some footer -->
    </footer>
  </body>
  <script>
    const flagemojiToPNG = (flag) => {
        var countryCode = Array.from(flag, (codeUnit) => codeUnit.codePointAt()).map(char => String.fromCharCode(char-127397).toLowerCase()).join('')
        return "<img src='https://flagcdn.com/24x18/" + countryCode + ".png'>"
    }
        var reg = new RegExp('(?:\ud83c[\udde6-\uddff]){2}', 'g');
        document.body.innerHTML = document.body.innerHTML.replaceAll(reg, flagemojiToPNG);
  </script>
</html>